/* 
=============================================
Import font
=============================================
*/

@font-face {
    font-family: "Alex Brush";
    src: url("AlexBrush-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kaushan Script";
    src: url("KaushanScript-Regular.otf");
    font-weight: normal;
    font-style: normal;
}


/* 
===============================
Set up box-sizing for all elements to border-box
===============================
*/

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* 
=========================================
Set up mobile-first using default properties
==========================================
*/
body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: 'Lato', 'Fira Sans', 'Roboto Condensed', sans-serif;
    height: inherit;
}


form {
    margin: 5%;
    font-size: 1.5rem;
}


h1 {
    font-family: "Kaushan Script", "Alex Brush", Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight:600;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input {
    line-height: 1.25;
}


input[type="submit"] {
    padding: 2%;
    width: 50px;
    background-color:rgb(97, 153, 193);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-style: none;
    margin-left: 60%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(78, 158, 239, 0.801);
}


input[type="submit"]:active {
    border: 2px solid black;
    color: black;
    background-color: rgba(204, 24, 24, 0.934);
}

.check-input {
    color: #f48a7f
}


body {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: repeat(10, minmax(auto, 1fr));
    overflow-y: hidden;
}

main {
    grid-row: 2 / 10;
    grid-column: 2 / 12;
    box-shadow: 1px 1px 15px;
    border-radius: 5px;
}


/* 

================================
Change appearance based on media size
================================
*/

@media all and (min-width: 640px) {

    body {
        background-image: url(images/altschool3.png);
        background-size: cover;
    }
    
    main {
        writing-mode: horizontal-tb;
        grid-row: 2 / 10;
        grid-column: 3 / 11;
        box-shadow: 1px 1px 12px;
        color: #1b1b32;
        background-color: #fff;
    }
    input[type="submit"] {
        margin-left: 75%;
        font-size: 1.5rem;
        width: 100px;
    }



    
}

@media all and (min-width: 960px) {

    main {
        grid-row: 2 / 10;
        grid-column: 3 / 11;
        /* max-width: 700px; */
    }
}